{{#partial "breadcrumbs"}}
    <img src="https://cdn-icons-png.flaticon.com/512/2985/2985179.png">

    <a href="/panelDeControl/colecciones">
        Ver colecciones
    </a>

    <img src="https://cdn-icons-png.flaticon.com/512/2985/2985179.png">

    <a id="modificandoColeccion" href="/panelDeControl/colecciones/{{coleccion.id}}">
        Modificar coleccion
    </a>

{{/partial}}

{{#partial "seccion"}}
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="/css/form.css">
    <section class="contenedor-form">
    <div class="panel  modificar-coleccion" >
        <h2 style="height: auto;width: 80%">Modificando Coleccion {{coleccion.id}}</h2>

        <form class="form" hx-post="/colecciones/{{coleccion.id}}"  style="width: 100%; height: 100%" id="modificar" hx-target="#error-modificar-coleccion">

            <label class="titulo-label" for="titulo">Titulo</label>
            <p  class="titulo" > {{coleccion.titulo}}</p>

            <label for="descripcion">Descripcion</label>
            <p  class="descripcion" >{{coleccion.descripcion}}</p>

            <label for="criterios">Criterio de pertenencia</label>
            {{#each coleccion.criterioPertenencia}}
                <p class="criterioPertenencia">{{this}}</p>
            {{/each}}



            <label>Fuentes</label>
            <!-- No tengo idea como hacer esto mejor se ve mal-->
            <div class="contenedor lateral fuentes" style="min-height: 4rem">
                    {{#each coleccion.fuentes}}
                        <div class="contenedor fuente">
                            <input id="fuente-{{id}}" type="checkbox" checked value="{{id}}" name="fuente">
                            <label for="fuente-{{id}}" >{{nombre}} ID: {{id}}</label>
                        </div>
                    {{/each}}
                {{>templates/paginas/panelDeControl/fuentes}}
            </div>

            <label for="consenso">Criterio de consenso</label>
            <select class="consenso" name="consenso" id="consenso">
                <option value={{coleccion.consenso}} selected>{{coleccion.consenso}}</option>

                 {{#esIgual coleccion.consenso 'Consenso Nulo'}}
                 {{else}}
                <option value="Consenso Nulo">Consenso Nulo</option>
                 {{/esIgual}}

                {{#esIgual coleccion.consenso 'Absoluto'}}
                {{else}}
                <option value="Absoluto">Absoluto</option>
                {{/esIgual}}

                {{#esIgual coleccion.consenso 'Mayoria Simple'}}
                {{else}}
                <option value="Mayoria Simple">Mayoria Simple</option>
                {{/esIgual}}

                {{#esIgual coleccion.consenso 'Multiples Menciones'}}
                {{else}}
                <option value="Multiples Menciones">Multiples Menciones</option>
                {{/esIgual}}

            </select>

            <span id="error-modificar-coleccion" class="contenedor-mensaje-error"></span>

            <div class="botones-form coleccion" >
                <button
                        hx-target="body"
                        hx-swap="none"
                        class="boton  terciario eliminar"
                        type="button"
                        hx-delete="/colecciones/{{coleccion.id}}"
                >
                    Eliminar coleccion
                </button>
                <button class="boton" type="submit">Guardar cambios</button>
            </div>
        </form>
    </div>
    </section>
{{/partial}}

{{> templates/paginas/panelDeControl/panelDeControlLayout}}