
{{#each fuentes}}
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <div class="contenedor fuente">
        <input id="fuente-{{id}}" type="checkbox" value="{{id}}" name="fuente"></input>
        <label for="fuente-{{id}}" >{{nombre}} ID: {{id}}</label>
    </div>
{{/each}}
