{{#partial "breadcrumbs"}}
    <img src="https://cdn-icons-png.flaticon.com/512/2985/2985179.png">

    <a href="/panelDeControl/solicitudesDeEliminacion">
        Ver solicitudes de eliminacion
    </a>

{{/partial}}

{{#partial "seccion"}}
    {{#if solicitudes}}
        <div class="panel tabla">
            <h2>Tabla de Solicitudes de Eliminacion</h2>
        </div>
        <table class="tabla solicitudes">
            <thead>
            <tr>
                <th>ID</th>
                <th class="titulo solicitud">Titulo</th>
                <th class="fundamentacion solicitud">Fundamentacion</th>
                <th>Aceptar solicitud</th>
            </tr>
            </thead>
            <tbody>
            {{#each solicitudes}}
                <tr>
                    <td class="columna centrada id"><b>{{id}}</b></td>
                    <td>
                        <a href="/hechos/{{tituloHecho}}"
                           target="_blank"
                           class="link">
                            <b>{{tituloHecho}}</b>
                        </a>
                    </td>
                    <td>{{fundamento}} </td>
                    <td class="columna centrada acciones solicitud">
                        <form action="/solicitudesDeEliminacion/{{id}}" method="POST">
                            <div class="card-solicitud-botones">
                                <button type="submit" class="boton-solicitud rechazar" value="Rechazar">
                                    <img src="https://cdn-icons-png.flaticon.com/128/399/399274.png">
                                </button>
                                <button type="submit" class="boton-solicitud aceptar" value="Aceptar" name="Aceptar">
                                    <img src="https://cdn-icons-png.flaticon.com/128/4315/4315445.png">
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    {{else}}
        <h1 class="mensaje-fondo">No hay solicitudes de eliminación pendientes</h1>
    {{/if}}
{{/partial}}

{{> templates/paginas/panelDeControl/panelDeControlLayout}}