{{#partial "breadcrumbs"}}
    <img src="https://cdn-icons-png.flaticon.com/512/2985/2985179.png">

    <a href="/panelDeControl/solicitudesDeCambio">
        Ver solicitudes de Cambio
    </a>

{{/partial}}


{{#partial "seccion"}}
    {{#if solicitudes}}
        <div class="panel">
            <h2>Tabla de Solicitudes de Cambio</h2>
        </div>
        <div class="wrapper-tabla">
            <table class="tabla solicitudes">
                <thead>
                <tr>
                    <th>ID</th>
                    <th class="titulo solicitud">Hecho</th>
                    <th>Actual</th>
                    <th>Cambios</th>
                    <th>Aceptar solicitud</th>
                </tr>
                </thead>
                <tbody>
                {{#each solicitudes}}
                    <tr>
                        <td class="columna centrada id"><b>{{id}}</b></td>
                        <td>
                            <a href="/hechos/{{hechoActual.titulo}}"
                               target="_blank"
                               class="link">
                                <b>{{hechoActual.titulo}}</b>
                            </a>
                        </td>
                        <td>
                            <div class="contenedor-soli-hechos">
                            {{#esIgual hechoNuevo.descripcion hechoActual.descripcion }}
                            {{else}}
                                <p><b>Descripcion actual: </b>{{hechoActual.descripcion}}</p>
                            {{/esIgual}}

                            {{#esIgual hechoNuevo.categoria hechoActual.categoria }}
                            {{else}}
                                <p><b>Categoria actual: </b>{{hechoActual.categoria}}</p>
                            {{/esIgual}}

                            {{#esIgual hechoNuevo.latitud hechoActual.latitud }}
                            {{else}}
                                <p><b>Latitud actual: </b>{{hechoActual.latitud}}</p>
                            {{/esIgual}}

                            {{#esIgual hechoNuevo.longitud hechoActual.longitud }}
                            {{else}}
                                <p><b>Longitud actual: </b>{{hechoActual.longitud}}</p>
                            {{/esIgual}}

                            {{#esIgual hechoNuevo.fechaAcontecimiento hechoActual.fechaAcontecimiento }}
                            {{else}}
                                <p><b>Fecha Acontecimiento actual: </b>{{hechoActual.fechaAcontecimiento}}</p>
                            {{/esIgual}}

                            {{#esIgual hechoNuevo.imagen hechoActual.imagen }}
                            {{else}}
                                <p><b>Imagen actual: </b><a class="link" target="_blank" href="{{hechoActual.imagen}}">Ver</a></p>
                            {{/esIgual}}

                            {{#esIgual hechoNuevo.video hechoActual.video }}
                            {{else}}
                                <p><b>Video actual: </b><a class="link" target="_blank" href="{{hechoActual.video}}">Ver</a></p>
                            {{/esIgual}}

                            {{#esIgual hechoNuevo.provincia hechoActual.provincia }}
                            {{else}}
                                <p><b>Provincia actual: </b>{{hechoActual.provincia}}</p>
                            {{/esIgual}}
                            </div>
                        </td>
                        <td>
                            <div class="contenedor-hecho">
                                <div class="contenedor-soli-hechos">
                                    {{#esIgual hechoNuevo.descripcion hechoActual.descripcion }}
                                    {{else}}
                                        <p><b>Descripcion nueva: </b>{{hechoNuevo.descripcion}}</p>
                                    {{/esIgual}}

                                    {{#esIgual hechoNuevo.categoria hechoActual.categoria }}
                                    {{else}}
                                        <p><b>Categoria nueva: </b>{{hechoNuevo.categoria}}</p>
                                    {{/esIgual}}

                                    {{#esIgual hechoNuevo.latitud hechoActual.latitud }}
                                    {{else}}
                                        <p><b>Latitud nueva: </b>{{hechoNuevo.latitud}}</p>
                                    {{/esIgual}}

                                    {{#esIgual hechoNuevo.longitud hechoActual.longitud }}
                                    {{else}}
                                        <p><b>Longitud nueva: </b>{{hechoNuevo.longitud}}</p>
                                    {{/esIgual}}

                                    {{#esIgual hechoNuevo.fechaAcontecimiento hechoActual.fechaAcontecimiento }}
                                    {{else}}
                                        <p><b>Fecha Acontecimiento nueva: </b>{{hechoNuevo.fechaAcontecimiento}}</p>
                                    {{/esIgual}}

                                    {{#esIgual hechoNuevo.imagen hechoActual.imagen }}
                                    {{else}}
                                        <p><b>Imagen nueva: </b><a class="link" target="_blank" href="{{hechoNuevo.imagen}}">Ver</a></p>
                                    {{/esIgual}}

                                    {{#esIgual hechoNuevo.video hechoActual.video }}
                                    {{else}}
                                        <p><b>Video nuevo: </b><a class="link" target="_blank" href="{{hechoNuevo.video}}">Ver</a></p>
                                    {{/esIgual}}

                                    {{#esIgual hechoNuevo.provincia hechoActual.provincia }}
                                    {{else}}
                                        <p><b>Provincia nueva: </b>{{hechoNuevo.provincia}}</p>
                                    {{/esIgual}}
                                </div>
                            </div>
                        </td>
                        <td class="columna centrada acciones solicitud">
                            <form action="/solicitudesDeCambio/{{id}}" method="POST">
                                <div class="card-solicitud-botones">
                                    <button type="submit" class="boton-solicitud rechazar" value="Rechazar">
                                        <img src="https://cdn-icons-png.flaticon.com/128/399/399274.png">
                                    </button>
                                    <button type="submit" class="boton-solicitud aceptar" value="Aceptar"
                                            name="Aceptar">
                                        <img src="https://cdn-icons-png.flaticon.com/128/4315/4315445.png">
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <!--Perdon, me dio verdadera paja -->
        <div class="contenedor vertical">
            <h1 class="mensaje-fondo">No hay solicitudes de cambio pendientes</h1>
            <img style="margin-top: 3rem; height: 11rem; width: 11rem" src="https://cdn-icons-png.flaticon.com/128/18716/18716066.png">
        </div>
    {{/if}}
{{/partial}}

{{> templates/paginas/panelDeControl/panelDeControlLayout}}