{{#partial "seccion"}}
    {{#if solicitudes}}
        <table class="tabla solicitudes">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th class="fundamentacion solicitud">Fundamentacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {{#each solicitudes}}
                <tr>
                    <td class="columna centrada id"><b>{{id}}</b></td>
                    <td><b>{{tituloHecho}}</b></td>
                    <td>{{fundamento}} </td>
                    <td class="columna centrada acciones solicitud">
                            <form action="/solicitudesDeEliminacion/{{id}}" method="POST">
                                <div class="card-solicitud-botones">
                                    <input type="submit" class="boton terciario" value="Rechazar">
                                    <input type="submit" class="boton" name="Aceptar" value="Aceptar">
                                </div>
                            </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    {{else}}
        <h1 class="mensaje-fondo">No hay solicitudes de eliminación pendientes</h1>
    {{/if}}
{{/partial}}

{{> templates/paginas/panelDeControl/panel}}