{{#partial "breadcrumbs"}}
    <img src="https://cdn-icons-png.flaticon.com/512/2985/2985179.png">

    <a href="/panelDeControl/solicitudesDeCambio">
        Ver solicitudes de Cambio
    </a>

{{/partial}}


{{#partial "seccion"}}
    {{#if solicitudes}}
        <div class="panel">
            <h2>Tabla de Solicitudes de Cambio</h2>
        </div>
        <div class="wrapper-tabla">
            <table class="tabla solicitudes">
                <thead>
                <tr>
                    <th>ID</th>
                    <th class="titulo solicitud">Hecho actual</th>
                    <th class="fundamentacion solicitud">Hecho nuevo</th>
                    <th>Aceptar solicitud</th>
                </tr>
                </thead>
                <tbody>
                {{#each solicitudes}}
                    <tr>
                        <td class="columna centrada id"><b>{{id}}</b></td>
                        <td>
                            <a href="/hechos/{{hechoActual.titulo}}"
                               target="_blank"
                               class="link">
                                <b>{{hechoActual.titulo}}</b>
                            </a>
                        </td>
                        <td>
                            <div class="contenedor-hecho">
                                <div class="contenedor-info-hecho">
                                    <p><b>Titulo: </b>{{hechoNuevo.titulo}}</p>
                                    <p><b>Descripcion: </b>{{hechoNuevo.descripcion}}</p>
                                    <p><b>Categoria: </b>{{hechoNuevo.categoria}}</p>
                                    <p><b>Latitud: </b>{{hechoNuevo.latitud}}</p>
                                    <p><b>Longitud: </b>{{hechoNuevo.longitud}}</p>
                                    <p><b>Fecha Acontecimiento: </b>{{hechoNuevo.fechaAcontecimiento}}</p>
                                    <p><b>Imagen: </b>{{hechoNuevo.imagen}}</p>
                                    <p><b>Video: </b>{{hechoNuevo.video}}</p>
                                    <p><b>Provincia: </b>{{hechoNuevo.provincia}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="columna centrada acciones solicitud">
                            <form action="/solicitudesDeCambio/{{id}}" method="POST">
                                <div class="card-solicitud-botones">
                                    <button type="submit" class="boton-solicitud rechazar" value="Rechazar">
                                        <img src="https://cdn-icons-png.flaticon.com/128/399/399274.png">
                                    </button>
                                    <button type="submit" class="boton-solicitud aceptar" value="Aceptar"
                                            name="Aceptar">
                                        <img src="https://cdn-icons-png.flaticon.com/128/4315/4315445.png">
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <h1 class="mensaje-fondo">No hay solicitudes de cambio pendientes</h1>
    {{/if}}
{{/partial}}

{{> templates/paginas/panelDeControl/panelDeControlLayout}}