{{#partial "seccion"}}
    <div class="colecciones">
    {{#each colecciones}}
        <div class="boton coleccion">
            <div class="contenedor vertical" style="align-items: start">
                <h2><b>{{titulo}}</b></h2>
                <p>{{descripcion}}</p>
                <p><b>Categoria:</b> {{criterioDePertenencia}}</p>
                <p><b>Desde:</b> {{criterioDePertenencia}}</p>
                <p><b>Hasta:</b> {{criterioDePertenencia}}</p>
                <p><b>Fuente:</b> {{fuente}}</p>
                <p><b>Consenso:</b> {{criterioConsenso}}</p>
                <button class="boton secundario" style="margin-bottom: 0.5rem"
                        onclick="openModal('modificarColeccion')">Editar</button>
            </div>
        </div>
    {{/each}}
    </div>
{{/partial}}

{{> templates/paginas/panelDeControl/panel}}
{{> templates/modals/modificarColeccion}}