
{{#partial "seccion"}}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <table class="tabla colecciones">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Criterios</th>
                <th>Fuentes</th>
                <th>Consenso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each colecciones}}
                <tr>
                    <td><b>{{titulo}}</b></td>
                    <td><p>{{descripcion}}</p></td>
                    <td><p>{{criterioPertenencia}}</p></td>
                    <td><p>{{fuente}}</p></td>
                    <td><p>{{consenso}}</p></td>
                    <td><button class="boton principal" style="margin: 1rem 0 0.5rem 0"
                                onclick="crearModalColeccion(this)"
                                data-coleccion="{{json this}}"

                        >Editar</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/partial}}

{{> templates/paginas/panelDeControl/panel}}
{{> templates/modals/modificarColeccion}}