{{#partial "seccion"}}
    <div class="contenedor cartas colecciones">
    {{#each colecciones}}
        <div class="boton contenedor carta coleccion">
            <div class="contenedor vertical" style="align-items: start">
                <h2>{{titulo}}</h2>
                <p>{{descripcion}}</p>
                <p><b>Criterios de pertenencia:</b> {{criterioPertenencia}}</p>
                <p><b>Fuente:</b> {{fuente}}</p>
                <p><b>Consenso:</b> {{consenso}}</p>
                <button class="boton secundario" style="margin-bottom: 0.5rem"
                        onclick="crearModalColeccion(this)"
                        data-coleccion="{{json this}}"

                >Editar</button>
            </div>
        </div>
    {{/each}}
    </div>
{{/partial}}

{{> templates/paginas/panelDeControl/panel}}
{{> templates/modals/modificarColeccion}}