
{{#partial "seccion"}}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <div class="panel tabla panelControl">
        <h2>Tabla de Colecciones</h2>
    </div>
    <table class="tabla colecciones">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Criterios</th>
                <th>Fuentes</th>
                <th>Consenso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each colecciones}}
                <tr>
                    <td class="columna centrada id"><b>{{id}}</b></td>
                    <td><b>{{titulo}}</b></td>
                    <td><p>{{descripcion}}</p></td>
                    <td><p>{{criterioPertenencia}}</p></td>
                    <td><p>{{fuente}} ID:{{fuenteID}}</p></td>
                    <td><p>{{consenso}}</p></td>
                    <td class="columna centrada acciones colecciones">
                        <a  style="margin: 1rem 0 0.5rem 0"
                        href="/colecciones/{{id}}">
                            <img class="editar" src="https://cdn-icons-png.flaticon.com/128/10336/10336461.png">
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/partial}}

{{> templates/paginas/panelDeControl/panel}}
