{{#partial "dependencias"}}
    <link rel="stylesheet" href="/css/form.css">
{{/partial}}

{{#partial "contenido"}}
    <div class="panel" style="padding:0">

        <div class="breadcrumbs">

            <a href="/">
                Inicio
            </a>

            <img src="https://cdn-icons-png.flaticon.com/512/2985/2985179.png ">

            <a href="/usuarios/{{usuario.usuario}}/perfil">
                Perfil
            </a>

        </div>

            <div class="contenedor-titulo-volver">

                <div class="contenedor-titulo izq">
                </div>

                <h2>Perfil de usuario</h2>

                <div class="contenedor-titulo der">
                    <button class="boton-secundario relleno">Volver</button>
                </div>
            </div>
        <form class="form editar-perfil" hx-post="/usuarios/{{usuario.usuario}}" hx-target="#error-subir-hecho">

                <label for="username">Usuario</label>
                <b style="width: 60%;">{{usuario.usuario}}</b>

                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="{{usuario.nombre}}">

                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" value="{{usuario.apellido}}">

                <label for="nacimiento">Fecha de nacimiento</label>
                <input type="date" name="nacimiento" id="nacimiento" value="{{usuario.fechaDeNacimientoSinFormatear}}">

                <span id="error-subir-hecho" class="contenedor-mensaje-error"></span>

                <button type="submit" style="margin-top: 0.65rem" class="boton">Guardar cambios</button>
        </form>
    </div>
{{/partial}}

{{> templates/layout}}