{{#partial "dependencias"}}
    <link href="https://unpkg.com/maplibre-gl@v5.6.0/dist/maplibre-gl.css" rel="stylesheet"/>
    <script src="https://unpkg.com/maplibre-gl@v5.6.0/dist/maplibre-gl.js"></script>
    <link rel="stylesheet" href="/css/mapa.css">
    <link rel="stylesheet" href="/css/mapaPagina.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/mapa-hechos.js"></script>
{{/partial}}

{{#partial "contenido" }}
    <div class="cuerpo-index">
        <section class="seccion-filtros">

            <form
                    class="form-filtros"
                    hx-get="#"
                    hx-target=".contenedor-hechos"
                    hx-swap="innerHTML"
                    hx-push-url="true"
            >


                <div class="filtro buscador">
                    <label for="titulo">Título</label>
                    <input type="text" id="titulo" name="titulo" placeholder="Buscar por título">
                </div>

                <div class="filtro fecha-desde">
                    <label for="fecha-desde">Fecha desde</label>
                    <input  type="date" id="fecha-desde" name="fecha-desde">
                </div>

                <div class="filtro fecha-hasta">
                    <label for="fecha-hasta">Fecha hasta</label>
                    <input type="date" id="fecha-hasta" name="fecha-hasta">
                </div>

                <div class="filtro categoria">
                    <label for="categoria">Categoría</label>
                    <input type="text" id="categoria" name="categoria" placeholder="Ej: Incendios">
                </div>

                <div class="filtro consenso">
                    <label for="consenso">Consenso</label>
                    <input type="checkbox" id="consenso-check" name="consenso">
                </div>

                <button class="boton" id="btn-filtro" disabled type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/512/12518/12518242.png">
                    Filtrar
                </button>
            </form>
            <div class="contenedor vertical colecciones desplegable">
                <button id="coleccionSeleccionada" class="boton">
                <span id="spanColeccion">
                    {{#if coleccionSeleccionada}}
                        {{coleccionSeleccionada}}
                    {{else}}
                        Colecciones
                    {{/if}}
                </span>
                    <img src="https://cdn-icons-png.flaticon.com/128/8213/8213476.png">
                </button>
                <div class="contenedor vertical infoADesplegarse colecciones">
                    {{#each colecciones}}

                        <button
                                class="coleccion-desplegada "
                                id="boton-{{id}}"
                                hx-get="/colecciones/{{id}}/hechos"
                                hx-target=".contenedor-hechos"
                                hx-swap="innerHTML"
                                hx-push-url="true"
                                onclick="actualizarRutaFormFiltros({{id}});
                                        actualizarBotonColeccion('{{titulo}}');
                                        eliminarOverlayMapa();">
                            {{titulo}}
                        </button>

                    {{/each}}
                </div>
            </div>
        </section>
        <section class="contenedor-hechos-mapaYcolecciones">
            <div class="contenedor-hechos">
                {{> templates/paginas/mapa/hechos}}
            </div>
            <div class="contenedor-mapa-colecciones">
                <div class="contenedor-mapa">
                    {{#if coleccionSeleccionada}}
                    {{else}}
                        <div id="overlay-mapa">
                            <div id="seleccionar-coleccion">
                                <p>Selecciona una de las colecciones de arriba para comenzar a explorar el mapa!</p>
                            </div>
                        </div>
                    {{/if}}
                    <div id="map"></div>
                </div>
            </div>
        </section>
    </div>
{{/partial}}

{{> templates/layout}}
