{{#partial "inputs-variables"}}
    <h4>Categoria</h4>
    <label for="categoria">Categoria</label>
    <input id="categoria" name="fechaHasta" type="date">
{{/partial}}

{{#partial "contenedores-informacion"}}
    <div>
        <h5>Hora pico de subida de {{obejetoDeEstudio.categoria}}: {{objetoDeEstudio.horaPico}}</h5>
    </div>
    <div>
        <h5>Provincia con más hechos subidos de {{obejetoDeEstudio.categoria}}: {{objetoDeEstudio.provinciaConMasHechosSubidos}}</h5>
    </div>
    <div> <!--Esta contenedor no depende de la categoria buscada, Franco nos podio ver la categoria con mas hechos subidos, entonces siempre se deberia mostrar por mas que yo quiera ver otra categoria-->
        <h5>Categoria con mas hechos subidos: {{objetoDeEstudio.categoriaConMasHechosSubidos}}</h5>
    </div>
{{/partial}}

{{>templates/paginas/estadisticas/contenidoEstadisticoLayout.hbs}}