{{#if resultadoEstadistico}}
    <table class="tabla colecciones">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Categoria</th>
            <th>Total de hechos</th>
            <th>Hora pico</th>
        </tr>
        </thead>
        <tbody>
        {{#each resultadoEstadistico}}
            <tr>
                <td><b>{{fecha}}</b></td>
                <td><p>{{categoria}}</p></td>
                <td><p>{{total_hechos}}</p></td>
                <td><p>{{hora_pico}}</p></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    Realice una busqueda
{{/if}}