{{#partial "breadcrumbs"}}
    <img src="https://cdn-icons-png.flaticon.com/512/2985/2985179.png">

    <a href="/estadisticas/spam">
        Spam
    </a>
{{/partial}}

{{#partial "contenido-estadistico"}}

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <div class="contenedor-estadisticas-categoria">
        <div class="filtro-estadistico">
            <form
                    class="form-filtros"
            >
                <input id="tipoEstadistica" name="tipoEstadistica" type="hidden" value="spam"/>

                <button class="boton exportar"
                        type="submit"
                        formaction="/exportar"
                        formmethod="get">
                    Exportar
                </button>
            </form>
        </div>
        <!-- Solo mostrar la tabla si se realizo una busqueda-->
        <div class="resultados-busqueda">
            {{#if resultadoEstadistico}}
                <div class="datos-extra">
                    <h2>Información relevante</h2>
                    <div class="extra totalRechazadas">
                        <p><b>Cantidad total de solicitudes rechazadas: </b> {{rechazosTotal}}</p>
                    </div>
                    <div class="extra totalSpam">
                        <p><b>Cantidad total de solicitudes rechazadas por spam: </b> {{rechazosSpam}}</p>
                    </div>
                    <div class="extra porcentajeSpam">
                        <p><b>Porcentaje total de solicitudes con spam: </b> {{porcentaje}} %</p>
                    </div>
                </div>
                <div class="wrapper-tabla">
                    <table class="tabla colecciones">
                        <thead>
                        <tr>
                            <th>Hecho</th>
                            <th>N° de rechazos totales</th>
                            <th>N° de rechazos por spam</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each resultadoEstadistico}}
                            <tr>
                                <td><p>{{tituloHecho}}</p></td>
                                <td><p>{{cantidadRechazadas}}</p></td>
                                <td><p>{{cantidadSpam}}</p></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                <div class="sin-contenido-estadistico">
                    <img src="https://cdn-icons-png.flaticon.com/128/4500/4500139.png">
                    <p><b>Realice una busqueda para ver las estadisticas</b></p>
                </div>
            {{/if}}
        </div>
    </div>

{{/partial}}
{{>templates/paginas/estadisticas/paginaEstadisticasLayout}}