<!DOCTYPE html>
<!-- (SPA) -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/modales.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/detalleHecho.css">
    <script src="/js/app.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    {{#block "dependencias"}}
    {{/block}}
</head>
<body>

<header class="header">
    <a href="/">
        <div class="contenedor lateral logo-titulo">
            <img class="logo" src="https://cdn-icons-png.flaticon.com/512/235/235861.png">
            <h1 class="titulo-header">Metamapa</h1>
        </div>
    </a>
    <div class="botones-header">
        {{#if autenticado}}
            {{> templates/headers/headerUsuario }}
        {{else}}
            {{> templates/headers/headerSinSesion }}
        {{/if}}

        <a href="/hechos/nuevo">
            <button class="boton subir-hecho" >
                <img src="https://cdn-icons-png.flaticon.com/512/10023/10023858.png">
                Subir Hecho
            </button>
        </a>
        {{#if autenticado}}
            <div class="contenedor vertical perfil-info">
                <button class="perfil">
                    <img src="https://cdn-icons-png.flaticon.com/128/3034/3034577.png">
                </button>
                <div class="contenedor vertical infoUsuario">
                    <p><b>Nombre: </b>{{usuario.nombre}} </p>
                    <p><b>Apellido: </b>{{usuario.apellido}}</p>
                    <p><b>Usuario: </b>{{usuario.usuario}}</p>
                    <p><b>Nacimiento: </b>{{usuario.fechaDeNacimiento}}</p>
                    <a href="/usuarios/{{usuario.usuario}}/perfil">
                        <button class="boton terciario">Editar perfil</button>
                    </a>
                    <a href="/usuarios/sinSesion">
                        <button class="boton terciario">Cerrar sesion</button>
                    </a>
                </div>
            </div>
        {{/if}}
    </div>
</header>

<main class="contenedor-cuerpo-index">
    {{#block "contenido"}}
    {{/block}}
</main>

</body>

</html>